# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2023 Tobias Fella <tobias.fella@kde.org>
[Desktop Entry]
Version=1.5
Name=KWatchGnuPG
GenericName=GnuPG Log Viewer
Comment=View the GnuPG log
Exec=kwatchgnupg
Terminal=false
Icon=kwatchgnupg
Type=Application
Categories=System;
SingleMainWindow=true
