# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2023 Tobias Fella <tobias.fella@kde.org>
[Desktop Entry]
Version=1.5
Name=KWatchGnuPG
Name[ca]=KWatchGnuPG
Name[ca@valencia]=KWatchGnuPG
Name[eo]=KWatchGnuPG
Name[es]=KWatchGnuPG
Name[eu]=KWatchGnuPG
Name[fr]=KWatchGnuPG
Name[it]=KWatchGnuPG
Name[ka]=KWatchGnuPG
Name[nl]=KWatchGnuPG
Name[sl]=KWatchGnuPG
Name[tr]=KWatchGnuPG
Name[uk]=KWatchGnuPG
Name[x-test]=xxKWatchGnuPGxx
GenericName=GnuPG Log Viewer
GenericName[ca]=Visualitzador del registre del GnuPG
GenericName[ca@valencia]=Visor del registre de GnuPG
GenericName[eo]=GnuPG-Protokolvidilo
GenericName[es]=Visor del registro de GnuPG
GenericName[eu]=GnuPG egunkari ikustailea
GenericName[fr]=Afficheur de journaux de GnuPG
GenericName[it]=Visualizzatore log di GnuPG
GenericName[ka]=GnuPG-ის ჟურნალის ნახვა
GenericName[nl]=GnuPG-logweergave
GenericName[sl]=Vpogledovalnik dnevnika GnuPG
GenericName[tr]=GnuPG Günlük Görüntüleyicisi
GenericName[uk]=Переглядач журнал GnuPG
GenericName[x-test]=xxGnuPG Log Viewerxx
Comment=View the GnuPG log
Comment[ca]=Visualitza el registre del GnuPG
Comment[ca@valencia]=Visualitza el registre de GnuPG
Comment[eo]=Rigardi la GnuPG-protokolon
Comment[es]=Ver el registro de GnuPG
Comment[eu]=Ikusi GnuPG egunkaria
Comment[fr]=Afficher le journal de GnuPG
Comment[it]=Mostra il registro di GnuPG
Comment[ka]=GnuPG-ის ჟურნალის ნახვა
Comment[nl]=De GnuPG-log bekijken
Comment[sl]=Pogled dnevnika GnuPG
Comment[tr]=GnuPG günlüğünü görüntüle
Comment[uk]=Перегляд журналу GnuPG
Comment[x-test]=xxView the GnuPG logxx
Exec=kwatchgnupg
Terminal=false
Icon=kwatchgnupg
Type=Application
Categories=System;
SingleMainWindow=true
