# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2023 Tobias Fella <tobias.fella@kde.org>
[Desktop Entry]
Version=1.5
Name=KWatchGnuPG
Name[bg]=KWatchGnuPG
Name[ca]=KWatchGnuPG
Name[ca@valencia]=KWatchGnuPG
Name[de]=KWatchGnuPG
Name[en_GB]=KWatchGnuPG
Name[eo]=KWatchGnuPG
Name[es]=KWatchGnuPG
Name[eu]=KWatchGnuPG
Name[fi]=KWatchGnuPG
Name[fr]=KWatchGnuPG
Name[he]=KWatchGnuPG
Name[hu]=KWatchGnuPG
Name[ia]=KWatchGnuPG
Name[is]=KWatchGnuPG
Name[it]=KWatchGnuPG
Name[ka]=KWatchGnuPG
Name[ko]=KWatchGnuPG
Name[nl]=KWatchGnuPG
Name[pl]=KWatchGnuPG
Name[ru]=KWatchGnuPG
Name[sk]=KWatchGnuPG
Name[sl]=KWatchGnuPG
Name[sv]=KWatchGnuPG
Name[tr]=KWatchGnuPG
Name[uk]=KWatchGnuPG
Name[x-test]=xxKWatchGnuPGxx
Name[zh_TW]=KWatchGnuPG
GenericName=GnuPG Log Viewer
GenericName[bg]=GnuPG преглед на дневници
GenericName[ca]=Visualitzador del registre del GnuPG
GenericName[ca@valencia]=Visor del registre de GnuPG
GenericName[de]=GnuPG Protokollanzeige
GenericName[en_GB]=GnuPG Log Viewer
GenericName[eo]=GnuPG-Protokolvidilo
GenericName[es]=Visor del registro de GnuPG
GenericName[eu]=GnuPG egunkari ikustailea
GenericName[fi]=GnuPG:n lokikatselin
GenericName[fr]=Afficheur de journaux de GnuPG
GenericName[he]=מציג היומן של GnuPG
GenericName[hu]=GnuPG-naplómegjelenítő
GenericName[ia]=Visor de registro GnuPG
GenericName[is]=GnuPG annálaskoðari
GenericName[it]=Visualizzatore log di GnuPG
GenericName[ka]=GnuPG-ის ჟურნალის ნახვა
GenericName[ko]=GnuPG 로그 뷰어
GenericName[nl]=GnuPG-logweergave
GenericName[pl]=Przeglądarka dziennika GnuPG
GenericName[ru]=Просмотр журнала GnuPG
GenericName[sk]=Prehliadač záznamu GnuPG
GenericName[sl]=Vpogledovalnik dnevnika GnuPG
GenericName[sv]=GnuPG-loggvisning
GenericName[tr]=GnuPG Günlük Görüntüleyicisi
GenericName[uk]=Переглядач журнал GnuPG
GenericName[x-test]=xxGnuPG Log Viewerxx
GenericName[zh_TW]=GnuPG 紀錄檢視器
Comment=View the GnuPG log
Comment[bg]=Преглед на дневника на GnuPG
Comment[ca]=Visualitza el registre del GnuPG
Comment[ca@valencia]=Visualitza el registre de GnuPG
Comment[de]=Das GnuPG Protokoll ansehen.
Comment[en_GB]=View the GnuPG log
Comment[eo]=Rigardi la GnuPG-protokolon
Comment[es]=Ver el registro de GnuPG
Comment[eu]=Ikusi GnuPG egunkaria
Comment[fi]=Tarkastele GnuPG-lokia
Comment[fr]=Afficher le journal de GnuPG
Comment[he]=הצגת יומן GnuPG
Comment[hu]=A GnuPG naplóinak megtekintése
Comment[ia]=Vide le registro de GnuPG
Comment[is]=Skoða GnuPG-annálinn
Comment[it]=Mostra il registro di GnuPG
Comment[ka]=GnuPG-ის ჟურნალის ნახვა
Comment[ko]=GnuPG 로그 표시
Comment[nl]=De GnuPG-log bekijken
Comment[pl]=Pokaż dziennik GnuPG
Comment[ru]=Просмотр журнала GnuPG
Comment[sk]=Zobraziť záznam GnuPG
Comment[sl]=Pogled dnevnika GnuPG
Comment[sv]=Visa loggen från GnuPG
Comment[tr]=GnuPG günlüğünü görüntüle
Comment[uk]=Перегляд журналу GnuPG
Comment[x-test]=xxView the GnuPG logxx
Comment[zh_TW]=檢視 GnuPG 紀錄
Exec=kwatchgnupg
Terminal=false
Icon=kwatchgnupg
Type=Application
Categories=System;
SingleMainWindow=true
