[Desktop Entry]
Icon=group
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kleopatra/configuration.html

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kleopatra
X-KDE-FactoryName=kleopatra_config_groups
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kleopatra
X-KDE-ParentComponents=kleopatra
X-KDE-CfgDlgHierarchy=Kleopatra

Name=Groups
Comment=Configuration of groups of keys
X-KDE-Keywords=groups,keys,certificates,configuration
