[Desktop Entry]
Icon=group
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kleopatra/configuration.html

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kleopatra
X-KDE-FactoryName=kleopatra_config_groups
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kleopatra
X-KDE-ParentComponents=kleopatra
X-KDE-CfgDlgHierarchy=Kleopatra

Name=Groups
Name[ca]=Grups
Name[es]=Grupos
Name[nl]=Groepen
Name[sv]=Grupper
Name[uk]=Групи
Name[x-test]=xxGroupsxx
Comment=Configuration of groups of keys
Comment[ca]=Configuració dels grups de claus
Comment[es]=Configuración de los grupos de claves
Comment[nl]=Configuratie van groepen sleutels
Comment[sv]=Anpassning av nyckelgrupper
Comment[uk]=Налаштування груп ключів
Comment[x-test]=xxConfiguration of groups of keysxx
X-KDE-Keywords=groups,keys,certificates,configuration
X-KDE-Keywords[ca]=grups,claus,certificats,configuració
X-KDE-Keywords[es]=grupos,claves,certificados,configuración
X-KDE-Keywords[nl]=groepen,sleutels,certificaten,configuratie
X-KDE-Keywords[sv]=grupper,nycklar,certifikat,inställning
X-KDE-Keywords[uk]=groups,keys,certificates,configuration,групи,ключі,сертифікати,налаштування
X-KDE-Keywords[x-test]=xxgroupsxx,xxkeysxx,xxcertificatesxx,xxconfigurationxx
